#{
  margin: 0%;
  padding: 0%;
}
/* .vertical-line {
  border-left: 1px solid black; 
  height: 200px; 
  margin: 0 130px;  */
/* } */
  

     

.verticlerow{
    border-left: 0.5px solid black; 
    height: 180px; 
}
 
  .line-spacing{
    line-height: 5.5;
  }